.subjectTable{
    border: 1px solid black;
    width: 90%;
    margin: 20px auto;
    text-align: center;
    border-collapse: collapse;
}
.subjectTable  th, td {
    border: 1px solid black;
}
.subjectTable tr:hover {
    background-color: #f5f5f5;
}
.subjectTable tr:nth-child(even) {
    background-color: #f2f2f2;
}
.subjectTable th {
    background-color: #04AA6D;
    color: white;
}

.addDel div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
